@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
	max-width: 1200px;
	margin: auto;
	padding: 16px;
	font-family: 'Montserrat', sans-serif;
}

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 16px;
	padding: 8px;
	background-color: #7451eb;
	text-align: center;
	color: white;
}
header img {
	height: 60px;
	margin-left: 1rem;
}
header h1 {
	flex-grow: 1;
}

main {
	display: flex;
	flex-direction: row;
}
.titre-categorie{
	width: 100%;
}

.filtres {
	border-radius: 4px;
	box-shadow: 0px 0px 4px gray;
	margin: 8px 0 8px 0;
	padding: 8px;
	min-width: 200px;
	min-height: 400px;
}
.filtres h3 {
	text-align: center;
}

.fiches {
	display: flex;
	flex: 1;
	margin: 8px;
	flex-flow: row wrap;
	
}
.fiches img {
	max-width: 200px;
}
.fiches p {
	margin-top: 4px;
	margin-bottom: 4px;
}
/* .fiches h2{
  display: flex;
  flex: 1;
} */
.card{
width: 200px;
background-color: white;
border-radius: 20px;
padding: 25px;
filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.1));
margin: 15px;
}
button, input[type="range"]{
	width: 350px;
}
